.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 2px 2px 0px 0px;
  flex-direction: column;
  flex-wrap: wrap;
  height: 12%;
  width: 100%;
  color: white;
  background-image: linear-gradient(
    to right top,
    #aa1731,
    #9f122a,
    #950c24,
    #8a061e,
    #800118
  );
  box-sizing: border-box;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: rgba(255, 255, 255, 0.774);
  text-align: center;
  font-size: 15px;
}

h3 {
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 20px;
  color: rgb(255, 255, 255);
  border-radius: 19px 0px 19px 0px;
  transition: 0.2s ease;
}
h3:hover {
  transform: scale(1.03);
  cursor: pointer;
}
