.order {
  float: right;
  width: 660px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);

  border-radius: 7px;
}
.ordr {
  width: 97.5%;
  min-height: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(150, 149, 149);
  margin: 1.25%;
  margin-bottom: 25px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 8px;
  transition: 0.5s;
}
h6 {
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 32px;
}
.hdr {
  color: black;
  height: 40px;
  padding: 5px;
}

#addbutton {
  float: right;
  padding: px;
}

hr {
  margin: 5px;
}

.order-created-by-user {
  font-size: 0.6rem;
}

.order-created-by-user span {
  font-size: 0.85rem;
}

.group-name-and-time-container {
  position: relative;
  height: 100%;
}
#delBtnOrd {
  display: none;
  position: absolute;
  right: 110px;
  top: -5px;
}
#editOrderBtn {
  display: none;
  position: absolute;
  right: 150px;
  top: -5px;
}
.group-name-and-time-container:hover #delBtnOrd {
  display: inline;
  color: grey;
  outline: none;
}

.group-name-and-time-container:hover #editOrderBtn {
  display: inline;
  color: grey;
  outline: none;
}

.chooseTime {
  vertical-align: bottom;

  padding: 0 0;
}
#editedTimeInput {
  border: none;
  border-bottom: 1px solid black;
}

.orderErrDel {
  font-size: 0.8rem;
  color: red;
  margin: 0;
}

.dialogBtn :hover {
  outline: none;
}
