.body {
  background-color: rgba(255, 255, 255, 0.808);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
}

nav {
  width: 100%;
}

label:hover {
  cursor: pointer;
}
